body{
	background: linear-gradient(135deg, #0a0f2c, #12172e);
	color:white;
	font-family:verdana;
	padding: 20px;

}

header{
	text-align: center;
	padding: 20px;
}

nav{
	text-align: center;
	padding:15px;
}

nav a{
	color:#f4d06f;
	margin: 12px;
	font-family:verdana ;
	text-decoration: none;
}
h2 {
	color:#f4d06f;
}
.resim {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	object-fit: cover;
	border: 6px solid #f4d06f;
}
ol {
	max-width: 600px;
	margin: 20px;
	padding: 20px;
}
li {
	margin-bottom: 8px;
}
#tikla {
	color:#f4d06f;
	margin: 12px;
	font-family:verdana ;
}




